{% extends 'base.html' %}

{% block title %}
Create post
{% endblock %}

{% block content %}
    <h1>Create post</h1>
{{user}}
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.description }}<br>
        {{ form.image }}
          {% if user.is_authenticated %}

        <button type="submit" class="btn btn-success" onclick="">Post</button>
         {% else %}
        <p>You are not registered or logged in to your account</p>
        <a href="{%  url 'register' %}">Register</a> |
        <a href="{% url 'login' %}">Login</a>

        {% endif %}
        <span>{{ error }}</span>

    </form>
{% endblock %}
