{% extends 'base.html' %}

{% block title %}
Delete post
{% endblock %}

{% block content %}
 {% if user.is_authenticated %}
<h1>Are you sure you want to delete {{post.title}}</h1>
<form action="" method="post">
  {% csrf_token %}

  <input type="submit" value="Delete">
      {% else %}
        <p>Вы не можете удалить пост так , как не зарегистрированы или не вошли в аккаунт</p>
        <a href="{%  url 'register' %}">Register</a> |
        <a href="{% url 'login' %}">Login</a>
</form>
 {% endif %}
        <span>{{ error }}</span>

{% endblock %}
