{% extends 'base.html' %}


{% block content %}

        <h3><a href="{% url 'profile' id=friend.profile.user.id %}" style="text-decoration: none; color:black;"> {{ friend.profile.user.username }} </a></h3>

    <div class="pro-pic">
         {% if  friend.profile.profile_image %}
    <img src="{{  friend.profile.profile_image.url }}" alt="profile_picture" style="border-radius:50%; width: 70px; height: 70px;
                                              object-fit: cover;">
        {% endif %}
    </div>
<br>
    <div class="sub-container" >
        <div class="chat-body" id="chat-body">
                {% for chat in chats %}
            {% if chat.msg_sender == user.profile and chat.msg_receiver == profile %}
            <div class="chat-box-sent">
                me : {{chat}}
            </div>

            {% elif chat.msg_sender == profile and chat.msg_receiver == user.profile %}

            <div class="chat-box-received">
                {{friend.profile.user}}: {{chat}}
            </div>
            {% endif %}
            {% endfor %}
            <br>
            <div class="chat-box-sent" id="chat-box-sent" style="display: none">
            </div>
            <form action="" id="myform" method="POST">
                {% csrf_token %}
                {{form.body}}

                <button type="submit" id="submit" class="btn btn-success" > Send</button>
            </form>
        </div>
    </div>







{% endblock %}